*{
    box-sizing:border-box;

}

body{
margin:0px;
display:flex;
justify-content:center;
flex-direction: column;

}
.tilleLogo{
    width:200px;
    height:34px;
}

.city{
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 17px;
    background-color: #eaeaea;
}
.Logo{
     text-align: center;
     margin-top:30px;
 
}