body{
margin:0px;
display:flex;
justify-content:center;
flex-direction: column;

}
.tilleLogo{
    width:200px;
    height:34px;
}

.city{
    text-align: center;
}
.Logo{
     text-align: center;
     margin-top:30px;
 
}