
.Logo{
    text-align: center;
    margin-top:30px;
    margin-bottom:30px;

}
.card_image1{
width: 100%;
height:275px;
object-fit:cover;
}

.menu{
    margin-top: -40px;
    border-radius: 20px 20px 0 0;
    background-color: #f6f6f6;
    position: relative;


}
.menu1{
    font-family: "Shrikhand",sans-serif;
    padding-left: 10px;
    
}
.sectionMunus{
    position: relative;
}
// section des differents Entrées
.Plats{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    gap: 10px;
}
.Plats-groupe{
    background-color: #FFFF;
    border-radius: 15px;
    margin-right: 20px;
    box-shadow: .25rem .25rem 1rem rgba(0,0,0,.1);
}
.menu-items{
    // line-height: 5px;
    margin:10px;
    white-space: nowrap;
    text-overflow:ellipsis;
    
    &:hover .menu-items_check{ 
     
        background-color:#99E2D0;
        margin: -32px -11px -11px 5px;
        width: 57px;
        display:flex;
        align-items:center;
        justify-content:center;
        border-radius: 0 15px 15px 0;
            // transition:margin-right 0.5s;
            // transform: rotate(180deg);
        .sizeCheck{
            font-size: 25px;
            color: white;
            transition:margin-right 0.5s;
            transform: rotate(180deg);
        }
        }
            &_check{
                display:none;
                  
    }
    
}

.menu-prix{
display:flex;
}
.prix{
    margin-left:auto;
    margin-top:0; 
    margin-bottom: 0;
    font-weight: 900;
}
.margin0{
    margin:0;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}
    
    //  &:hover{
        
    //     transition-duration: 0.5s;
    //  }
    
    // .sizeCheck{
    //     font-size: 25px;
    //     color: white;
// &:hover{
//          transition-duration: 0.5s;
//          transform: rotate(180deg);
//     }
    // }
.majuscule{
    text-transform:uppercase;
    position:relative;
    &::after{
        content:"";
        position: absolute;
        top:24px;
        left:0;
        height: 3px;
        width: 30px;
        background-color: #99E2D0;
    }
}
.btnPage1{
    width:186px;
    text-align: center;
    margin:auto;
    margin-top:40px;
    margin-bottom: 40px;
}


.coeur{
    font-size: 25px;
    position: absolute;
    right: 20px;
    top:5px;
    // margin-top:6px;
    &:hover{
        font-weight:900;
        background:linear-gradient(360deg,#ff79da,#9356dc);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition-duration:800ms;
    }
}
// Footer
.footerSize{
    background-color:#353535;
    color:white;
    display:flex;
    gap: 10px;
    height: 114px;
    padding-left:0;
    height: 186px;

    .contactFooter{
        text-decoration: none;
        color:white;
    }

    // h2{
    // font-family: 'Manrope', sans-serif;
    // font-family: 'Montserrat', sans-serif;
    // font-family: 'Roboto', sans-serif;
    // padding:0;
    // margin:0;
    // font-size: 18px;
    // }

    .reverse{
        padding:22px 25px;
        @media(min-width: 1203px){
            display:flex;
            flex-direction:row-reverse;
            justify-content:flex-end;
            align-items:center;
            width:100%;
        }
    }
.footerInf{

    flex-direction: column;
    gap:7px; 
    align-items: normal;
    line-height: 1.5;
    
    @media(min-width:1203px){
    //  margin-top: 40px;
     margin-top: 0;
     gap:15px;
     margin-left: auto;
     display: flex;
     flex-direction:row;
     align-items: center;
    position: relative;
    margin-right: 120px;
    }    
    }

    .reverse{
        @media(min-width:1203px){
            flex-direction:row-reverse;
        }
    }

    .marge{
    margin-left: 35px;
    
        margin-left:0px;
        
    }

    .footer_image{
        width:137px;
        height: 27px;
        filter:invert(100%);
        
        margin-left:0px;
        margin-top:5px;
        margin-bottom:5px;
        @media(min-width:1203px){
            margin-left:25px;
        }    
    }  
}